<div class="header_mobile">
    <div class="content_wrap">
        <div class="column-1_6 contact_logo">
            <div class="logo">
                <a href="#" th:href="@{/}">
                    <img th:src="@{../img/the-heat-clinic-logo-internal.png}" class="logo_main" alt="">
                    <img th:src="@{../img/the-heat-clinic-logo-internal.png}" class="logo_fixed" alt="">
                </a>
            </div>
        </div><div class="column-5_6 menu_main_wrap">
        <div class="menu_button icon-menu">
        </div>
        <div class="menu_main_cart top_panel_icon">
            <a class="top_panel_cart_button">
                <span class="contact_icon icon-shopping-cart13"></span>
                <span class="contact_label contact_cart_label">Your cart:</span>
                <span class="contact_cart_totals">
									<span class="cart_items" th:if="${cart.itemCount > 0}" th:utext="${cart.itemCount}"></span>
									-
									<span class="cart_summa" th:unless="${cart.subTotal?.zero}" blc:price="${cart.subTotal?.add(cart.itemAdjustmentsValue)}"></span>
                                    </span>

            </a>
            <ul class="widget_area sidebar_cart sidebar">
                <li>
                    <div class="widget woocommerce widget_shopping_cart">
                        <div class="hide_cart_widget_if_empty">
                            <div class="widget_shopping_cart_content">
                                <ul class="cart_list product_list_widget">
                                    <th:block th:if="${cart.itemCount == 0}">
                                        <li class="empty">No products in the cart.</li>
                                    </th:block>
                                    <th:block th:unless="${cart.itemCount == 0}">
                                        <li class="empty"><a th:href="@{/cart}">View your cart.</a></li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="side_wrap">
        <div class="close">Close</div>
        <div class="panel_top">
            <nav class="menu_main_nav_area">
                <ul id="menu_main_mobile" class="menu_main_nav" th:if="${not #lists.isEmpty(menuItems)}">
                    <th:block th:each="menuItem : ${menuItems}">
                        <li th:if="${#lists.isEmpty(menuItem.submenu)}">
                            <a th:href="@{${menuItem.url}}">
                                <span th:utext="${menuItem.label}"></span>
                            </a>
                        </li>
                        <th:block th:unless="${#lists.isEmpty(menuItem.submenu)}">
                            <li th:unless="${#strings.isEmpty(menuItem.categoryId)}" class="dropdown">
                                <a th:href="@{${menuItem.url}}">
                                    <span th:utext="${menuItem.label}"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-with-icons">
                                    <li th:each="submenuItem : ${menuItem.submenu}">
                                        <a th:href="@{${submenuItem.url}}" th:utext="${submenuItem.label}"></a>
                                    </li>
                                </ul>
                            </li>
                            <li th:if="${#strings.isEmpty(menuItem.categoryId)}" class="mega-dropdown dropdown">
                                <th:block th:replace="@{layout/partials/navMegaMenu}" />
                            </li>
                        </th:block>
                    </th:block>
                </ul>
            </nav>
            <div class="search_wrap search_style_regular search_state_fixed">
                <div class="search_form_wrap">
                    <blc:form role="search" method="get" class="search_form" th:action="@{/search}">
                        <button type="submit" class="search_submit icon-search" title="Open search"></button>
                        <input type="text" class="search_field" placeholder="Search" name="q" th:attr="placeholder=#{nav.search}, value=${param.q == null ? '' : param.q}"/>
                    </blc:form>
                </div>
                <div class="search_results widget_area scheme_original">
                    <a class="search_results_close icon-cancel"></a>
                    <div class="search_results_content"></div>
                </div>
            </div>
            <div class="login">
                <a href="#popup_login_mobile" th:utext="#{home.login}" class="popup_link popup_login_link icon-user">Login</a>
                <div id="popup_login" class="popup_wrap popup_login bg_tint_light">
                    <a href="#" class="popup_close"></a>
                    <div class="form_wrap">
                        <div class="form_left">
                            <blc:form th:action="@{/login_post.htm}" method="post" name="login_form" class="popup_form login_form">
                                <input type="hidden" name="redirect_to">
                                <div class="popup_form_field login_field iconed_field icon-user">
                                    <label for="username"><span th:utext="#{login.email}">Email</span></label>
                                    <input id="username" type="email" name="username" class="form-control"/>
                                </div>
                                <div class="popup_form_field password_field iconed_field icon-lock">
                                    <label for="password" class="control-label"><span
                                            th:utext="#{login.password}">Password</span></label>
                                    <input type="password" id="password" name="password" class="form-control">
                                </div>
                                <p class="text-danger" th:if="${param.error}" th:utext="#{login.noMatchTryAgain}">
                                    The e-mail address and/or password entered do not match our records. Please try again.
                                </p>
                                <p th:unless="${param.error}">&nbsp;</p>
                                <div class="popup_form_field remember_field">
                                    <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                                    <label for="rememberme">Remember me</label>
                                    <a th:href="@{/login/forgotPassword}" class="forgot_password" ><span
                                            th:utext="#{login.forgotPassword}">Forgot password?</span></a>
                                </div>
                                <div class="popup_form_field submit_field">
                                    <button class="btn btn-primary pull-right" type="submit" th:utext="#{login.login}"></button>
                                </div>
                            </blc:form>
                        </div>
                        <div class="form_right">
                            <div class="login_socials_title">You can login using your social profile</div>
                            <div class="login_socials_list">
                                <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                    <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div><div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div><div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
                                </div>
                            </div>
                            <div class="login_socials_problem">
                                <a href="#">Problem with login?</a>
                            </div>
                            <div class="result message_block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel_middle">
            <div class="contact_field contact_address">
                <li><a href="/about_us"><span th:utext="#{footer.aboutUs}">About Us</span></a></li>
            </div>
            <div class="contact_field contact_phone">
				<li><a href="/contactus"><span th:utext="#{footer.contact}">Contact Us</span></a></li>
            </div>
            <div class="contact_field contact_phone">
                <li><a href="#"><span th:utext="#{footer.privacyPolicy}">Privacy Policy</span></a></li>
            </div>
        </div>
        <div class="panel_bottom">
            <div class="site-social-media-mobile">
                <a href="https://www.facebook.com/BroadleafCommerce" class="btn btn-simple btn-facebook">
                    <i class="fa fa-facebook-official"></i>
                </a>
                <a href="https://www.instagram.com/broadleaf_commerce/" class="btn btn-simple btn-instagram">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="https://plus.google.com/111305785891011992695/posts" class="btn btn-simple btn-google">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="https://www.linkedin.com/company/broadleaf-commerce" class="btn btn-simple btn-linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://twitter.com/broadleaf" class="btn btn-simple btn-twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/user/broadleafopensource" class="btn btn-simple btn-youtube">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </div>
        </div>
       <!-- <div class="col-md-4">
            <nav>
                <ul>
                    <li><a href="/about_us"><span th:utext="#{footer.aboutUs}">About Us</span></a></li>
                    <li><a href="/contactus"><span th:utext="#{footer.contact}">Contact Us</span></a></li>
                    <li><a href="#"><span th:utext="#{footer.privacyPolicy}">Privacy Policy</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-4">
            <div>
                <div class="blc-brand">
                    <p>Powered by&nbsp;</p>
                    <img th:src="@{/img/broadleaf-seal.png}" alt="Broadleaf Commerce" />
                    <p>&copy; Copyright 2013</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="site-social-media-mobile">
                <a href="https://www.facebook.com/BroadleafCommerce" class="btn btn-simple btn-facebook">
                    <i class="fa fa-facebook-official"></i>
                </a>
                <a href="https://www.instagram.com/broadleaf_commerce/" class="btn btn-simple btn-instagram">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="https://plus.google.com/111305785891011992695/posts" class="btn btn-simple btn-google">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="https://www.linkedin.com/company/broadleaf-commerce" class="btn btn-simple btn-linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://twitter.com/broadleaf" class="btn btn-simple btn-twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/user/broadleafopensource" class="btn btn-simple btn-youtube">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </div>
        </div>-->
    </div>
    <div id="popup_login_mobile" class="popup_wrap popup_login bg_tint_light">
        <a href="#" class="popup_close"></a>
        <div class="form_wrap">
            <div class="form_left">
                <form action="#" method="post" name="login_form" class="popup_form login_form">
                    <input type="hidden" name="redirect_to" value="index.html">
                    <div class="popup_form_field login_field iconed_field icon-user">
                        <input type="text" id="log_mobile" name="log_mobile" value="" placeholder="Login or Email">
                    </div><div class="popup_form_field password_field iconed_field icon-lock">
                    <input type="password" id="password_mobile" name="pwd" value="" placeholder="Password">
                </div><div class="popup_form_field remember_field">
                    <input type="checkbox" value="forever" id="rememberme_mobile" name="rememberme_mobile">
                    <label for="rememberme_mobile">Remember me</label>
                    <a href="#" class="forgot_password">Forgot password?</a>
                </div><div class="popup_form_field submit_field">
                    <input type="submit" class="submit_button" value="Login">
                </div>
                </form>
            </div>
            <div class="form_right">
                <div class="login_socials_title">You can login using your social profile</div>
                <div class="login_socials_list">
                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_facebook">
                                <span class="icon-facebook"></span>
                            </a>
                        </div><div class="sc_socials_item">
                        <a href="#" target="_blank" class="social_icons social_twitter">
                            <span class="icon-twitter"></span>
                        </a>
                    </div><div class="sc_socials_item">
                        <a href="#" target="_blank" class="social_icons social_gplus">
                            <span class="icon-gplus"></span>
                        </a>
                    </div>
                    </div>
                </div>
                <div class="login_socials_problem">
                    <a href="#">Problem with login?</a>
                </div>
                <div class="result message_block"></div>
            </div>
        </div>
    </div>
    <div class="mask"></div>
</div>
</div>