<header class="top_panel_wrap top_panel_style_4 scheme_original">
    <div class="top_panel_wrap_inner top_panel_inner_style_4 top_panel_position_above">

        <div class="top_panel_top">
            <div class="content_wrap clearfix">
                <div class="top_panel_top_contact_area">
                    Welcome to The Heat Clinic store website!
                </div>
                <div class="top_panel_top_user_area">
                    <!--class="menu_user_login"-->
                    <ul id="menu_user" class="menu_user_nav">
                        <th:block th:if="${customer.anonymous}">
                            <li class="menu_user_login">
                                <a href="#popup_login" th:utext="#{home.login}" class="popup_link popup_login_link icon-user189"></a>
                                <div id="popup_login" class="popup_wrap popup_login bg_tint_light">
                                    <a href="#" class="popup_close"></a>
                                    <div class="form_wrap">
                                        <div class="form_left">
                                            <blc:form th:action="@{/login_post.htm}" method="post" name="login_form" class="popup_form login_form">
                                                <input type="hidden" name="redirect_to">
                                                <div>
                                                    <label for="username"><span th:utext="#{login.email}">Email</span></label>
                                                    <input id="username" type="email" name="username" class="form-control"/>
                                                </div>
                                                <div>
                                                    <label for="password" class="control-label"><span
                                                            th:utext="#{login.password}">Password</span></label>
                                                    <input type="password" id="password" name="password" class="form-control">
                                                </div>
                                                <p class="text-danger" th:if="${param.error}" th:utext="#{login.noMatchTryAgain}">
                                                    The e-mail address and/or password entered do not match our records. Please try again.
                                                </p>
                                                <p th:unless="${param.error}">&nbsp;</p>
                                                <div class="popup_form_field remember_field">
                                                    <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                                                    <label for="rememberme">Remember me</label>
                                                    <a th:href="@{/login/forgotPassword}" class="forgot_password" ><span
                                                            th:utext="#{login.forgotPassword}">Forgot password?</span></a>
                                                </div>
                                                <div class="popup_form_field submit_field">
                                                    <button class="btn btn-primary pull-right" type="submit" th:utext="#{login.login}"></button>
                                                </div>
                                            </blc:form>
                                        </div>
                                        <div class="form_right">
                                            <div class="login_socials_title">You can login using your social profile</div>
                                            <div class="login_socials_list">
                                                <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                                    <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div><div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div><div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
                                                </div>
                                            </div>
                                            <div class="login_socials_problem">
                                                <a href="#">Problem with login?</a>
                                            </div>
                                            <div class="result message_block"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </th:block>
                        <!-- Mini Cart -->
                        <li class="menu_user_cart">
                            <a class="top_panel_cart_button">
                                <span class="contact_icon icon-shopping-cart13"></span>
                                <span class="contact_label contact_cart_label">Your cart:</span>
                                <span class="contact_cart_totals">
									<span class="cart_items" th:if="${cart.itemCount > 0}" th:utext="${cart.itemCount}"></span>
									-
									<span class="cart_summa" th:unless="${cart.subTotal?.zero}" blc:price="${cart.subTotal?.add(cart.itemAdjustmentsValue)}"></span>
                                    </span>

                            </a>
                            <ul class="widget_area sidebar_cart sidebar">
                                <li>
                                    <div class="widget woocommerce widget_shopping_cart">
                                        <div class="hide_cart_widget_if_empty">
                                            <div class="widget_shopping_cart_content">
                                                <ul class="cart_list product_list_widget">
                                                    <th:block th:if="${cart.itemCount == 0}">
                                                        <li class="empty">No products in the cart.</li>
                                                    </th:block>
                                                    <th:block th:unless="${cart.itemCount == 0}">
                                                        <li class="empty"><a th:href="@{/cart}">View your cart.</a></li>
                                                    </th:block>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="top_panel_middle" >
            <div class="content_wrap">
                <div class="columns_wrap columns_fluid">
                    <!-- Logo -->
                    <div class="column-1_6 contact_logo">
                        <div class="logo">
                            <a href="#" th:href="@{/}">
                                <img th:src="@{../img/the-heat-clinic-logo-internal.png}" class="logo_main" alt="">
                            </a>
                        </div>
                    </div><div class="column-5_6 menu_main_wrap">
                    <div class="menu_main_cart top_panel_icon"></div>
                    <!-- Search Bar -->
                    <div class="search_wrap search_style_regular search_state_closed">
                        <div class="search_form_wrap">
                            <blc:form role="search" method="get" class="search_form" th:action="@{/search}">
                                <button type="submit" class="search_submit icon-search" title="Open search"></button>
                                <input type="text" class="search_field" placeholder="Search" name="q" th:attr="placeholder=#{nav.search}, value=${param.q == null ? '' : param.q}"/>
                            </blc:form>
                        </div>
                        <div class="search_results widget_area scheme_original">
                            <a class="search_results_close icon-cancel"></a>
                            <div class="search_results_content"></div>
                        </div>
                    </div>
                    <!-- Menu -->
                    <a href="#" class="menu_main_responsive_button icon-menu"></a>
                    <blc:menu resultVar="menuItems" menuName="Header Nav"></blc:menu>
                    <nav class="menu_main_nav_area">
                        <ul id="menu_main" class="menu_main_nav" th:if="${not #lists.isEmpty(menuItems)}">
                            <th:block th:each="menuItem : ${menuItems}">
                                <li th:if="${#lists.isEmpty(menuItem.submenu)}">
                                    <a th:href="@{${menuItem.url}}">
                                        <span th:utext="${menuItem.label}"></span>
                                    </a>
                                </li>
                                <th:block th:unless="${#lists.isEmpty(menuItem.submenu)}">
                                    <li th:unless="${#strings.isEmpty(menuItem.categoryId)}" class="dropdown">
                                        <a th:href="@{${menuItem.url}}">
                                            <span th:utext="${menuItem.label}"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-with-icons">
                                            <li th:each="submenuItem : ${menuItem.submenu}">
                                                <a th:href="@{${submenuItem.url}}" th:utext="${submenuItem.label}"></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li th:if="${#strings.isEmpty(menuItem.categoryId)}" class="mega-dropdown dropdown">
                                        <th:block th:replace="@{layout/partials/navMegaMenu}" />
                                    </li>
                                </th:block>
                            </th:block>
                        </ul>
                    </nav>

                </div>
                </div>
            </div>
        </div>
    </div>
</header>
<th:block th:replace="layout/green_theme/gt_headmobile" />
<th:block th:if="${#props.get('google.website.translator.contentKey') != null}">
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</th:block>