<li class="menu_user_login">
    <a href="#popup_login" class="popup_link popup_login_link icon-user189">Login</a>
    <div id="popup_login" class="popup_wrap popup_login bg_tint_light">
        <a href="#" class="popup_close"></a>
        <div class="form_wrap">
            <div class="form_left">
                <blc:form th:action="@{/login_post.htm}" method="post" name="login_form" class="popup_form login_form">
                    <input type="hidden" name="redirect_to">
                    <div class="popup_form_field login_field iconed_field icon-user">
                        <label for="username"><span th:utext="#{login.email}">Email</span></label>
                        <input id="username" type="email" name="username" class="form-control"/>
                    </div>
                    <div class="popup_form_field password_field iconed_field icon-lock">
                        <label for="password" class="control-label"><span
                                th:utext="#{login.password}">Password</span></label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>
                    <p class="text-danger" th:if="${param.error}" th:utext="#{login.noMatchTryAgain}">
                        The e-mail address and/or password entered do not match our records. Please try again.
                    </p>
                    <p th:unless="${param.error}">&nbsp;</p>
                    <div class="popup_form_field remember_field">
                        <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                        <label for="rememberme">Remember me</label>
                        <a th:href="@{/login/forgotPassword}" class="forgot_password" ><span
                                th:utext="#{login.forgotPassword}">Forgot password?</span></a>
                    </div>
                    <div class="popup_form_field submit_field">
                        <input type="submit" class="submit_button" value="<span
                    th:utext="#{login.password}">Password</span>" >
                    </div>
                </blc:form>
            </div>
            <div class="form_right">
                <div class="login_socials_title">You can login using your social profile</div>
                <div class="login_socials_list">
                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                        <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div><div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div><div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
                    </div>
                </div>
                <div class="login_socials_problem">
                    <a href="#">Problem with login?</a>
                </div>
                <div class="result message_block"></div>
            </div>
        </div>
    </div>
</li>