<section>
    <div class="container">
        <div id="mainslider_2" class="rev_slider_wrapper fullwidthbanner-container mainslider_2">
            <div id="rev_slider_13_1" class="rev_slider fullwidthabanner" data-version="5.2.5">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-39" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/slider23-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img blc:src="@{/cmsstatic/img/banners/shirt-special.jpg}"  alt="" title="slider23"  width="1920" height="695" data-lazyload="images/slider21.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption White_big ms2_s3_title tp-resizeme"
                             id="slide-39-layer-2"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['285','285','285','285']"
                             data-fontsize="['93','93','74','66']"
                             data-lineheight="['93','93','93','90']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"

                             data-transform_in="opacity:0;s:1300;e:Power2.easeInOut;"
                             data-transform_out="opacity:0;s:1300;"
                             data-start="1300"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-end="899000">
                            Heat Clinic
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption Text16_norm ms2_s3_text tp-resizeme"
                             id="slide-39-layer-3"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['385','385','385','385']"
                             data-width="690"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"

                             data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
                             data-transform_out="opacity:0;s:1000;"
                             data-start="1800"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-end="899300"
                             style="">As the nationally certified organic grocer in the country, we are offering
                            you the biggest and best choice we possibly can.
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Text16_norm ms2_s3_button tp-resizeme"
                             id="slide-39-layer-4"
                             data-x="['center','center','center','center']" data-hoffset="['-81','-81','-81','-81']"
                             data-y="['top','top','top','top']" data-voffset="['508','508','508','508']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"

                             data-transform_in="opacity:0;s:700;e:Power2.easeInOut;"
                             data-transform_out="opacity:0;s:700;"
                             data-start="2400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-end="899600">
                            <a href="#" class="sc_button sc_button_round sc_button_style_filled sc_button_scheme_original sc_button_size_medium">shop now</a>
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption Text16_norm ms2_s3_button tp-resizeme"
                             id="slide-39-layer-5"
                             data-x="['center','center','center','center']" data-hoffset="['77','77','77','77']"
                             data-y="['top','top','top','top']" data-voffset="['508','508','508','508']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"

                             data-transform_in="opacity:0;s:700;e:Power2.easeInOut;"
                             data-transform_out="opacity:0;s:700;"
                             data-start="2400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-end="899600">
                            <a href="#" class="sc_button sc_button_round sc_button_style_filled sc_button_scheme_crimson sc_button_size_medium">discover</a>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-37" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/slider21-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img blc:src="@{/cmsstatic/img/banners/slider22.jpg}"  alt="" title="slider21"  width="1920" height="695" data-lazyload="images/slider21.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption very_large_text ms2_s1_text  tp-resizeme"
                             id="slide-37-layer-1"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-fontsize="['120','120','120','120']"
                             data-lineheight="['150','150','150','150']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"

                             data-transform_in="opacity:0;s:800;e:Power2.easeInOut;"
                             data-transform_out="opacity:0;s:800;"
                             data-start="800"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-end="899500">
                            Buy one <br> Get one
                        </div>

                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-38" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/slider22-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img blc:src="@{/cmsstatic/img/banners/slider23.jpg}"  alt="" title="slider22"  width="1920" height="695" data-lazyload="images/slider22.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption White_big ms2_s2_title tp-resizeme"
                             id="slide-38-layer-2"
                             data-x="['left','left','left','left']" data-hoffset="['0','0','40','40']"
                             data-y="['top','top','top','top']" data-voffset="['245','245','245','245']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"

                             data-transform_in="x:50px;opacity:0;s:1100;e:Power2.easeInOut;"
                             data-transform_out="opacity:0;s:700;"
                             data-start="1300"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-end="899600">Caption<br/>
                            here. </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption Text16_norm ms2_s2_text tp-resizeme"
                             id="slide-38-layer-3"
                             data-x="['left','left','left','left']" data-hoffset="['0','0','40','40']"
                             data-y="['top','top','top','top']" data-voffset="['407','407','407','407']"
                             data-width="600"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"

                             data-transform_in="opacity:0;s:700;e:Power2.easeInOut;"
                             data-transform_out="opacity:0;s:700;"
                             data-start="2000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-end="899600">Browse our pages for certified organic and gluten free products.
                            Get healthier and healthier each day.
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Text16_norm ms2_s2_button  tp-resizeme"
                             id="slide-38-layer-4"
                             data-x="['left','left','left','left']" data-hoffset="['0','0','40','40']"
                             data-y="['top','top','top','top']" data-voffset="['522','522','522','522']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"

                             data-transform_in="opacity:0;s:2500;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:2500;"
                             data-start="2800"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-end="897800">
                            <a href="#" class="sc_button sc_button_round sc_button_style_filled sc_button_scheme_original sc_button_size_medium">shop now</a>
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption Text16_norm ms2_s2_button  tp-resizeme"
                             id="slide-38-layer-7"
                             data-x="['left','left','left','left']" data-hoffset="['161','161','200','200']"
                             data-y="['top','top','top','top']" data-voffset="['522','522','522','522']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"

                             data-transform_in="opacity:0;s:3500;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:2500;"
                             data-start="2400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-end="897800">
                            <a href="category.html" class="sc_button sc_button_round sc_button_style_filled sc_button_scheme_dark sc_button_size_medium">discover</a>
                        </div>
                    </li>

                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </div>
</section>
