<nav class="navbar navbar-default navbar-top navbar-fixed-top" id="sectionsNav" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:blc="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <div class="collapse navbar-collapse nav-wrapper">
            <!-- Search Bar -->
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <blc:form class="js-searchForm navbar-form search-form" th:action="@{/search}" method="GET">
                        <div class="input-group">
                            <div class="form-group is-empty">
                                <input type="search" class="js-search form-control" name="q" autocomplete="off"
                                       th:attr="placeholder=#{nav.search}, value=${param.q == null ? '' : param.q}">
                                <span class="material-input"></span>
                            </div>
                            <span class="input-group-button">
                                <button class="btn btn-primary btn-simple" type="submit"><i class="material-icons">search</i></button>
                            </span>
                        </div>
                    </blc:form>
                    <ul class="nav navbar-nav type-ahead" id="typeAhead">
                        <li class="ta-dropdown dropdown">
                            <ul class="ta-dropdown-menu dropdown-menu">
                                <li class="col-sm-3 ta-column">
                                    <ul class="js-typeahead--keyword"></ul>
                                </li>
                                <li class="col-sm-4 ta-column">
                                    <h4>Category</h4>
                                    <ul class="js-typeahead--category"></ul>

                                    <h4>Manufacturer</h4>
                                    <ul class="js-typeahead--mfg"></ul>
                                </li>
                                <li class="col-sm-5 ta-column">
                                    <h4>Products</h4>
                                    <ul class="js-typeahead--product"></ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Account -->
            <ul class="nav navbar-nav navbar-right">

                <!-- Anonymous Customer Actions -->
                <th:block th:if="${customer.anonymous}">
                    <li> <!--class="menu_user_login"-->
                        <a th:href="@{/login}" th:utext="#{home.login}">Login</a>
                        <!--<a href="#popup_login" th:utext="#{home.login}" class="popup_link popup_login_link icon-user189"></a>
                        <div id="popup_login" class="popup_wrap popup_login bg_tint_light">
                            <a href="#" class="popup_close"></a>
                            <div class="form_wrap">
                                <div class="form_left">
                                    <blc:form th:action="@{/login_post.htm}" method="post" name="login_form" class="popup_form login_form">
                                        <input type="hidden" name="redirect_to">
                                        <div class="popup_form_field login_field iconed_field icon-user">
                                            <label for="username"><span th:utext="#{login.email}">Email</span></label>
                                            <input id="username" type="email" name="username" class="form-control"/>
                                        </div>
                                        <div class="popup_form_field password_field iconed_field icon-lock">
                                            <label for="password" class="control-label"><span
                                                    th:utext="#{login.password}">Password</span></label>
                                            <input type="password" id="password" name="password" class="form-control">
                                        </div>
                                        <p class="text-danger" th:if="${param.error}" th:utext="#{login.noMatchTryAgain}">
                                            The e-mail address and/or password entered do not match our records. Please try again.
                                        </p>
                                        <p th:unless="${param.error}">&nbsp;</p>
                                        <div class="popup_form_field remember_field">
                                            <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                                            <label for="rememberme">Remember me</label>
                                            <a th:href="@{/login/forgotPassword}" class="forgot_password" ><span
                                                    th:utext="#{login.forgotPassword}">Forgot password?</span></a>
                                        </div>
                                        <div class="popup_form_field submit_field">
                                            <button class="btn btn-primary pull-right" type="submit" th:utext="#{login.login}"></button>
                                        </div>
                                    </blc:form>
                                </div>
                                <div class="form_right">
                                    <div class="login_socials_title">You can login using your social profile</div>
                                    <div class="login_socials_list">
                                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                            <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div><div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div><div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
                                        </div>
                                    </div>
                                    <div class="login_socials_problem">
                                        <a href="#">Problem with login?</a>
                                    </div>
                                    <div class="result message_block"></div>
                                </div>
                            </div>
                        </div>-->
                    </li>
                </th:block>

                <!-- Registered Customer Actions -->
                <th:block th:if="${!customer.anonymous}">
                    <th:block th:replace="@{layout/partials/registeredCustomerActions}" />
                </th:block>

                <!-- Mobile Main Navigation Menu -->
                <li class="visible-xs">
                    <th:block th:replace="@{layout/partials/navMenu}" />
                </li>

                <!-- Locale options -->
                <li th:replace="layout/partials/navLocaleSelector"></li>

                <!-- Mini Cart -->
                <th:block th:replace="checkout/partials/miniCart" />
            </ul>
        </div>

        <!-- Logo -->
        <div class="header-logo">
            <a class="navbar-brand withoutripple" th:href="@{/}">
                <img class="brand-logo" th:src="@{../img/the-heat-clinic-logo-internal.png}" alt="The Heat Clinic Home">
            </a>
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#right-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>

            <ul class="visible-xs nav navbar-nav">
                <th:block th:replace="checkout/partials/miniCart" />
            </ul>
        </div>

        <div id="left-nav" class="left-nav hidden-xs collapse main-menu-wrapper">
            <!-- Main Navigation Menu -->
            <th:block th:replace="@{layout/partials/navMenu}" />
        </div>
    </div>
</nav>