<th:block th:fragment="crumbs">
    <div th:if="${product != null}" th:object="${product}" class="breadcrumb-container">
        <th:block th:each="parentCategory : *{category.allParentCategoryXrefs}">
            <th:block th:include="~{layout/partials/breadcrumbs :: grand-parents}" th:with="cat=${parentCategory.category}" />
            /
            <a th:href="@{${parentCategory.category.url}}" th:utext="#{${parentCategory.category.name}}"></a>
        </th:block>
        <!--/
        <a th:href="@{*{category.url}}" th:utext="#{*{category.name}}"></a>-->
    </div>

    <div th:if="${category != null}" th:object="${category}" class="breadcrumb-container">
        <th:block th:each="parentCategory : *{allParentCategoryXrefs}">
            <th:block th:include="~{layout/partials/breadcrumbs :: grand-parents}" th:with="cat=${parentCategory.category}" />
            /
            <a th:href="@{${parentCategory.category.url}}" th:utext="#{${parentCategory.category.name}}"></a>
        </th:block>
    </div>
</th:block>

<th:block th:fragment="grand-parents">
    <th:block th:each="parentCategory : ${cat.allParentCategoryXrefs}">
        <th:block th:include="~{layout/partials/breadcrumbs :: grand-parents}" th:with="cat=${parentCategory.category}" />
        /
        <a th:href="@{${parentCategory.category.url}}" th:utext="#{${parentCategory.category.name}}"></a>
    </th:block>
</th:block>