.card-product .card-title {
    height: 2em;
}

div.products {
    align-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start ;
}

.new-badge {
    width: 60px;
    height: 60px;
    background: url(/img/badge-new.png) no-repeat;
    text-indent: -9999px;
    position: absolute;
    top: -10px;
    left: 2px;
    z-index: 20;
}

.product-card .footer .btn {
    margin-bottom: 4px;
    padding: 6px;
    border-radius: 50%;
    margin-left: auto;
}

.product-card .footer {
    width: 100%;
    text-align: center;
}

#maker {
    color: #9eba06;
}

.product-page h3.main-price {
    color: #b33451;
}

.product-card .footer > div {
    display: inline-block;
}

.in-cart-link-container {
    float: right;
    text-align: right;
}

.in-cart-link-container .btn {
    margin-top: 1px;
    color: #4caf50;
}
.in-cart-link-container .btn:hover {
    color: #4caf50;
}

.card-content .footer div.add-to-cart {
    margin: 1em;
    border: none;
    background-color: transparent;
    color: transparent;
}

.related-product .card-title {
    margin-top: 1em;
    margin-bottom: 0;
    height: 3em;
    line-height: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.text-right {
    text-align: right;
}

.card-less-raised {
    box-shadow: 0 12px 34px -12px rgba(0, 0, 0, 0.4), 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.related-product .card-description {
    color: rgba(0,0,0, 0.87);
}

.related-product .card-content .footer {
    display: table;
    width: 100%;
}

.related-product .card-content .footer div {
    display: table-cell;
}

.related-price-old {
    color: #AAAAAA;
    text-decoration: line-through;
    padding-left: 5px;
}

.related-product .card-content .footer .price-container {
    text-align: left;
    font-size: 18px;
    padding: 0;
    margin: 0;
    height: auto;
}

.related-product .card-content .footer .button-container {
    text-align: right;
}

.related-product .card-content .card-description {
    text-align: left;
    height:7.5em;
    line-height: 1.5em;
    margin-bottom: 0;
}

.related-products .title {
    margin-bottom: 30px;
}

.product-list-item .card-content .product-title {
    height: 2em;
    line-height: 1em;
    margin-bottom: .5em;
}

.card .card-image .card-title {
    text-shadow: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

.out-of-stock-overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
}

.product-list-item .is-out-of-stock img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.product-list-item .is-out-of-stock .out-of-stock {
    position: absolute;
    z-index: 4;
    vertical-align: bottom;
    left: 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: auto;
    background-color: #f44336;
    box-shadow: 1px 1px 3px black;
    border-radius: 0 5px 5px 0;
}

.product-list-item .is-out-of-stock .out-of-stock .material-icons {
    margin-bottom: 3px;
}

.product-list-item .footer.product-actions .stats {
    display: inline-flex;
}

.product-list-item .footer.product-actions .stats a .material-icons {
    vertical-align: initial;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
    vertical-align: top;
}

.product-list-item .btn-quickview,
.product-list-item .btn-add-to-cart {
    transform: translateY(-150%);
    margin: 0 0.5em;
    visibility: hidden;
}

.product-list-item:hover .btn-quickview,
.product-list-item:hover .btn-add-to-cart{
    visibility: visible;
    font-size: 10px !important;
    line-height: 13px !important;
    color: #ffffff !important;
    font-weight: 400 !important;
    padding: 11px 11px 11px 13px !important;
    border-radius: 4px 4px 4px 4px !important;
    background-color: rgba(128,181,0,1.00) !important;
}

.quick-view-media,
.nav > li > .quick-view-media {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}